<header class="flex flex-col w-full h-full justify-center align-middle p-4">
    <nav class="flex justify-center align-middle">
      <ul class="text-white font-medium text-lg cursor-pointer">
        <li class="hover:underline hover:decoration-color3 hover:decoration-3"><a href="/">Home</a></li>
        <li class="hover:underline hover:decoration-color3 hover:decoration-3"><a href="/blog">Blog</a></li>
        <li class="hover:underline hover:decoration-color3 hover:decoration-3"><a href="/services">services</a></li>
        <li class="hover:underline hover:decoration-color3 hover:decoration-3"><a href="/thorndike">Thorndike</a></li>
      </ul>
    </nav>
  </header>
  <hr>