---

---
<article class="flex flex-col md:flex-row items-center gap-5 mt-14 text-center md:text-left">
    <section class="w-48 h-48 rounded-full border-8 border-color5 relative " >
        <figure class="absolute w-full h-full"> 
            <img src="/avatar.svg" alt="avatar"  class="object-contain rounded-full  w-full h-full" sizes="100%"/>
        </figure>
       </section>
       <section class="flex flex-col sm:flex-col gap-3">
        <div>
         <h1 class="text-white font-bold">Santiago Delebecq</h1>
         <p class="text-slate-200 font-semibold">i'am Full stack devoleper</p>
     </div>
     <div class="flex gap-5 justify-center md:justify-start ">
         <a href="mailto:santiidele21@gmail.com" target="_blank" class="p-3 rounded-sm border-4 font-semibold bg-color3 hover:bg-color1 border-color3 text-white "> 
             Contact me
         </a>
         <a class="p-3 rounded-sm border-4 font-semibold hover:bg-color3 text-white border-color1" href="/santiago-delebecq.pdf" download>Dowload CV</a>
     </div>
    </section>
</article>
<hr>