---
//components
import Hero from "./hero.astro";
import Projects from "./projects.astro";
import Contact from "./contact.astro";
import SocialMedia from "./socialMedia.astro";
import Header from "./header.astro"



---

<div class="">
  <Header/>

  <main class="flex flex-col gap-16 px-2">
    <!--Hero -->
    <Hero />
    <!--Proyect -->
    <Projects />
    <SocialMedia />
    <!-- Contact-->
    <Contact />
  </main>
</div>
