---
//component
import CardProject from "./cardProject.astro";
//Proyects info
---

<section>
  <h2 class="text-slate-100">
    Project <span>
      <img
        src="./icons/portafolio.svg"
        alt=""
        class="w-7 h-7 inline-block mx-2"
      /></span
    >
  </h2>
  <div class="flex flex-col gap-5 mt-4">
    <div class="grid gap-10">
    <CardProject/>
    </div>
  </div>
</section>
<hr>
