---
---
<footer class="w-full text-white">
    <h2>Email <span> <img src="./icons/email.svg" alt="" class="w-7 h-7 inline-block mx-1"></span></h2>

    <div class="flex gap-2">
        <input type="text" disabled value="santiidele21@gmail.com" class="w-11/12 bg-slate-900 py-2 px-3 text-slate-200 place-content-center grid ">
        <div class="">
            <a href="mailto:santiidele21@gmail.com" target="_blank">
                <img src="./icons/send-2.svg" class="inline-block w-8 " />
                </a>
        </div>
    </div>
</footer>