---

//components
import Hero from "./hero.astro"
import Projects from "./projects.astro"
import Contact from "./contact.astro"
import SocialMedia from "./socialMedia.astro"
---

<div class="mx-auto max-w-4xl flex flex-col mb-5 gap-10 px-5 ">
    <main class="flex flex-col gap-16 border-x-4 px-2">
        <!--Hero -->
       <Hero/>
       <hr>
        <!--Proyect -->
        <Projects/>
       <hr>
       <SocialMedia/>
        <!-- Contact-->
        <Contact/>
    </main>   
</div>
