---
---
<section class="flex gap-3 flex-col text-slate-100">
    <h2>Social <span><img src="./icons/arroba.svg" alt="arroba" class="w-7 h-7 inline-block mx-1"> </span> </h2>
    <div class="flex gap-4 justify-start text-lg items-center">
       <a href="https://www.linkedin.com/in/santiago-delebecq-8630a2215/" target="_blank" class="p-3 border-4 border-color1
       bg-color3 rounded-sm text-white font-semibold hover:bg-color1 ">
        <img src="./icons/linkedin.svg" class="w-6 inline-block mx-2"/> Linkedin
    </a>
       <a href="https://github.com/Santidele22" target="_blank"  class="bg-color5 p-3 border-4 border-color1 rounded-sm font-semibold hover:bg-color4 ">
        <img src="/icons/github.svg" class="w-6 inline-block mx-2"/>GitHub</a>
    </div>
</section>