---
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Santiago Delebecq">
    <Header/>

    <h1 class="text-white text-center">Coming soon</h1>
</Layout>
